<!doctype>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css media="print" href="{{ url_for('static', filename='print.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='slides.js') }}"></script>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
</html>
