{% extends "layout.html" %}
{% block body %}
<div id="slides">
{% set counter = 1 -%}
{% for slide in song -%}
<a name="{{ counter }}"> <!-- slide anchor -->
<div class="slide" id="slide{{ counter }}" {% if not counter == 1 %}style="display:none"{% endif -%}>
    {% for part in slide -%}
    <div class="part">
        {% for line in part -%}
        {% if not line == "" -%}
        <div class="line">{{ line }}</div>
        {% endif -%}
        {% endfor -%}
    </div>
    {% endfor -%}
{% set counter = counter + 1 -%}
</div>
{% endfor -%}
</div>
<div id="progress">{{ title }} 1/{{ song|length }}</div>
{% endblock -%}
